<% if @book.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @book.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @book do |form| %>
  <div class="form-group">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: "book name", class:"form-control" %>
  </div>
  <div class="actions m-2">
    <%= form.submit "Confirm",class:"btn btn-primary" %>
  <%= link_to('Cancel', books_url, method: :get, class:"btn btn-secondary") %>                
  </div>
<% end %>
